<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common/head :: head_fragment(title = 'Search Movies', scripts = ~{}, links = ~{})}"></head>
<link th:href="@{/css/search.css}" rel="stylesheet" />

<div th:replace="~{common/header :: header_fragment}"></div>

<body>
  <div id="search-container" class="d-flex justify-content-center align-items-center">
    <div id="form-container">
      <form action="#" th:action=@{/search} method="post">
      <div class="form-group">
        <label for="keyword" class="form-label"></label>
        <input type="text" id="keyword" name="keyword" placeholder="キーワード" class="form-control"/>
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
          検索
        </button>
      </div>
      </form>
      </div>
  </div>
</body>
</html>