<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common/head :: head_fragment(title = 'Search Movies', scripts = ~{}, links = ~{})}"></head>
<link th:href="@{/css/search.css}" rel="stylesheet" />

<div th:replace="~{common/header :: header_fragment}"></div>

<body>
  <div id="search-container" class="d-flex justify-content-center align-items-center">
    <div id="form-container">
      <form action="#" th:action=@{/search} method="post">
      <div class="form-group">
        <label for="keyword" class="form-label"></label>
        <input type="text" id="keyword" name="keyword" placeholder="キーワード" class="form-control"/>
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">検索</button>
      </div>
      </form>
      </div>
  </div>
</body>
</html>